/*
CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
*/
html {
  font-size: 72px;
}
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
video, /* H5 元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
  margin: 0;
  padding: 0;
  outline: none; /* Remove style with border when elements get focused */
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  font: 16px/1 Microsoft YaHei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
  outline: none;
}
html, body {
  background-color: #f2f2f2;
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a, s, div { text-decoration: none; outline: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
  font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置 hr */
hr {
  border: none;
  height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

/*清楚浮动*/
.clearfix:after {
    content: "\0020";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
}

/* 字体大小使用px，针对不同dpr屏幕设置不同样式 */
.font10 {
  font-size: 10px !important;
}

[data-dpr="2"] .font10 {
    font-size: 20px !important;
}

[data-dpr="3"] .font10 {
    font-size: 30px !important;
}

.font12 {
  font-size: 12px !important;
}

[data-dpr="2"] .font12 {
    font-size: 24px !important;
}

[data-dpr="3"] .font12 {
    font-size: 36px !important;
}

.font14 {
  font-size: 14px !important;
}

[data-dpr="2"] .font14 {
    font-size: 28px !important;
}

[data-dpr="3"] .font14 {
    font-size: 42px !important;
}

.font16 {
  font-size: 16px !important;
}

[data-dpr="2"] .font16 {
    font-size: 32px !important;
}

[data-dpr="3"] .font16 {
    font-size: 48px !important;
}

.font18 {
  font-size: 18px !important;
}

[data-dpr="2"] .font18 {
    font-size: 36px !important;
}

[data-dpr="3"] .font18 {
    font-size: 54px !important;
}

.font20 {
  font-size: 20px !important;
}

[data-dpr="2"] .font20 {
    font-size: 40px !important;
}

[data-dpr="3"] .font20 {
    font-size: 60px !important;
}

.font24 {
  font-size: 24px !important;
}

[data-dpr="2"] .font24 {
    font-size: 48px !important;
}

[data-dpr="3"] .font24 {
    font-size: 72px !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif !important;
    background: rgb(42, 47, 58);
}
#root {
    background: rgb(42, 47, 58);
    width:100%;
    height:100%;
}