.rootContainer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
    transform: translate(100%, 0);
	height: 100%;
    transition: all ease-in-out .5s;
    z-index: 999;
}
.rootContainer.showResume {
    transform: translate(0, 0);
    z-index: 999;
}
.resumeWrap {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
    width: 100%;
    background: url('https://blog.yvanwang.com/uploadfiles/resumebg.png') no-repeat ;
    background-size: cover;
    & .linearContainer {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right:0;
        opacity: 0.9;
        background-image: linear-gradient(242deg, #7474bf, #7175c0 4%, #7175c0 4%, #448cd5 76%, #3593dc);
    }
    & .loginContainer {
        position: fixed;
        right: 60px;
        bottom: 40px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        opacity: 0.8;
        transition: all ease-in-out 0.2s;
        &:hover {
            opacity: 1;
        }
        & .logIcon {
            width: 100%;
            height: 100%;
            margin-top: 50%;
            transform: translate(0,-50%);
        }
    }
    & .closeContainer {
        position: absolute;
        top: 40px;
        right: 60px;
        width: 38px;
        height: 38px;
        cursor: pointer;
        & .closeIcon {
            width: 100%;
            height: 100%;
            margin-top: 50%;
            transform: translate(0,-50%);
        }
    }
    & .resumeContianer {
        position: absolute;
        width: 40%;
        text-align: left;
        padding-top: 30px;
        transition: all ease-in-out .5s;
        transform: translate(-50%, -50%);
        color: #fff;
        z-index: 999;
        top: 50%;
        left: 50%;
        img {
            position: absolute;
            left: -192px;
            transform: translate(0, -50%);
            width:150px;
            height:150px;
            -webkit-border-radius:50%;
            -moz-border-radius:50%;
            border-radius:50%;
        }
        p {
            font-size: 18px;
        }
        & .resumeTitle {
            margin-bottom: 20px;
            line-height: 1;
            font-size: 44px;
            text-align: left;
            font-family: 'RobotoThin';
        }
        & .personalInfo {
            width: 100%;
            margin: 0 auto 40px;
            line-height: 2;
            & .personPage {
                color: #f5a623;
            }
        }
        & .skillContainer {
            font-family: 'RobotoThin';
            margin-bottom: 140px;
        }
    }
}
@media screen and (max-width: 860px) {
    .resumeWrap {
        & .resumeContianer {
            width: 70%;
            text-align: center;
            padding-top: 0;
            & .resumeTitle {
                text-align: center;
            }
            img {
                position: relative;
                left: 0;
                transform: translate(0,0);
                width: 120px;
                height: 120px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                display: block;
                margin: 0 auto 30px;
            }
            & .skillContainer {
                margin-bottom: 60px;
            }
        }
    }
}
@media screen and (max-width: 560px) {
    .resumeWrap {
        & .resumeContianer {
            width: 86%;
            text-align: center;
            padding-top: 0;
            & .resumeTitle {
                text-align: center;
            }
            & .skillContainer {
                text-align: center;
                & .skillItem {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media screen and (max-width: 420px) {
    .resumeWrap {
        & .resumeContianer {
            width: 90%;
            text-align: center;
            padding-top: 0;
            & img {
                width: 100px;
                height: 100px;
            }
            & .resumeTitle {
                text-align: center;
                font-size: 30px;
            }
            & .personalInfo {
                font-size: 16px;
            }
            & .skillContainer {
                margin-bottom: 12px;
            }
        }
        & .loginContainer {
            top: 22px;
            left: 22px;
        }
    }
}
$lineHeight: 80px;
.resumeContianer .currentState {
	width: 100%;
	height: $lineHeight;
	line-height: $lineHeight;
	margin-top: 200px;
	text-align: center;
	color: #fff;
	background: rgba(255,255,255,.3);
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
	//box-shadow: 0 5px 5px rgba(47,47,47,0.98);
}
.buttons {
    margin-top: 180px;
    padding-bottom: 50px;
}
.button {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 20px 20px;
    border-radius: 10px;
    cursor: pointer;
}