.commentInput {
    margin-top: 20px;
    & .formItem {
        position: relative;
        margin-bottom: 20px;
        & input,
        & textarea {
            width: 100%;
            font-size: 16px;
        }
        & input {
            text-indent: 15px;
            height:40px;
            line-height: 40px;
        }
        & textarea {
            padding: 15px;
        }
    }
    & label {
        font-size: 16px;
        display: none;
    }
    & .saveComment {
        display: block;
        width: 100%;
        background: #12B9D6;
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-size: 26px;
        color: #fff;
        margin-bottom: 30px;
        cursor: pointer;
        transition: all ease-in-out .3s;
        &:hover {
            background: lighten(#12B9D6, 3%);
        }
    }

    & .error {
        position: absolute;
        right: 15px;
        bottom: 20px;
        color: #FF4058;
        font-size: 16px;
    }
}