$width90: 90%;
.richEditor {
    width: 100%;
    margin: 0 auto;
    height:100%;
    padding-bottom: 110px;
    & .blogInfo {
        width: 100%;
        margin: 0 auto 20px;
        background-color: #fff;
        //box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
        padding-top: 55px;
        font-size: 18px;
        box-sizing: border-box;
        & .title,
        & .author,
        & .blogType {
            margin-bottom: 20px;
        }
        & label {
            font-size: 18px;
            display: none;
        }
        & input,
        & select {
            width: 100%;
            text-indent: 15px;
            border: none;
            background-color: rgba(216,216,216,.12);
            border-radius: 5px;
            height: 60px;
            line-height: 60px;
        }
        & select option {
            height: 36px;
            line-height: 36px;
        }
    }
    & .wangEditor-container {
        width: 100%;
        margin: 0 auto;
        border: none;
        & .wangEditor-txt {
            min-height: 800px;
            height: auto !important;
        }
    }
    .bottomBar {
        position: relative;
        text-align: right;
        background-color: transparent;
        bottom: 0;
        width: 100%;
        max-width: 1024px;
        height:80px;
        line-height: 80px;
        z-index: 666;
        & .saveButton {
            width: 100px;
            font-size: 18px;
            color: #fff;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            line-height: 36px;
            transition: all ease-in-out .4s;
            vertical-align: middle;
            border-radius: 0;
            background: #05bb76;
            &:hover {
                background:lighten(#05bb76, 5%);
            }
        }
        & .saveButton:first-child {
            margin-right: 32px;
        }
    }
}
#editor1 {
    min-height: 400px;
    height: auto !important;
    //box-shadow: 0 0 0 0.75pt #d1d1d1,0 0 3pt 0.75pt #ccc;
}
