$width90: 90%;
.contentEditor {
    width: 100%;
    margin: 60px auto 0;
    height:100%;
    padding-bottom: 110px;
    & .wangEditor-container {
        width: $width90;
        margin: 0 auto;
        overflow-y: scroll;
    }
}
.contentEditor .blogInfo {
    width: $width90;
    margin: 30px auto 20px;
    background-color: #fff;
    box-shadow: 0 0 0 0.75pt #d1d1d1,0 0 3pt 0.75pt #ccc;
    padding: 30px;
    font-size: 18px;
    box-sizing: border-box;
    & .title,
    & .author {
        margin-bottom: 20px;
    }
    & label {
        font-size: 18px;
    }
    & input,
    & select {
        width: 80%;
        text-indent: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 40px;
        line-height: 40px;
    }

}
#editor1 {
    min-height: 400px;
    height: auto !important;
    box-shadow: 0 0 0 0.75pt #d1d1d1,0 0 3pt 0.75pt #ccc;
}
.bottomBar {
    position: fixed;
    bottom: 0;
    width: 80%;
    max-width: 1024px;
    height:80px;
    line-height: 80px;
    background-color: #265783;
    text-align: center;
    z-index: 666;
    & .saveButton {
        width: 200px;
        font-size: 20px;
        color: #fff;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        line-height: 40px;
        transition: all ease-in-out .4s;
        vertical-align: middle;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.3);
        &:hover {
            color:#2db7f5;
        }
    }
}