.dialogModel {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:rgba(0,0,0,.4);
    z-index: 1000;
}
.loginWrapper {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 40%;
    min-width: 570px;
    max-width: 620px;
    padding: 30px 40px;
    background: #ffffff;
    border-radius: 10px;
    & .loginButton {
        margin: 20px;
    }
    & .userName,
    & .pass {
        text-align: left;
        padding:20px;
        & input {
            border: 1px solid #ccc;
            height: 48px;
            line-height: 48px;
            font-size: 18px;
            text-indent: 10px;
            width: 80%;
            border-radius: 5px;
            &:focus {
                outline: 0;
                box-shadow: 0 0 0 2px rgba(45,183,245,.2);
                border-color: #57c5f7;
            }
        }
        & label {
            font-size: 18px;
            margin-right: 5px;
            width: 80px;
            display: inline-block;
        }
    }
    & .buttonArea {
        text-align: center;
        & .loginButton {
            display: inline-block;
            width: 30%;
            height: 40px;
            line-height: 40px;
            background-color: #2db7f5;
            font-size: 18px;
            text-align: center;
            border: 1px solid #2db7f5;
            color: #fff;
            transition: all ease-in-out .3s;
            cursor: pointer;
            border-radius: 5px;
            &:hover {
                background-color: #57c5f7;
                border: 1px solid #57c5f7;
            }
            & a {
                color: #fff;
            }
        }
    }


}
