.dialogModel {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:rgba(0,0,0,.4);
}
.loginWrapper {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 40%;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    & .loginButton {
        margin: 20px;
    }
}
.ant-form-item-label label {
    font-size: 18px;
}

.ant-input-lg {
    height:48px;
    font-size:18px;
}
.ant-btn-lg {
    width:200px;
    font-size: 18px;
}