$white: #fff;
.blogsContainer {
	width: 80%;
    max-width: 1024px;
	height: auto;
	min-height: 100%;
	padding-top: 20px;
	margin: 0 auto;
	//background: #57c5f7;
}
@media screen and (max-width: 740px) {
	.blogsContainer {
		width: 100%;
	}
}