.blogLinks {
    position: relative;
    width: 100%;
    padding: 32px 5%;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    border-top: 1px dashed #c1c1c1;
    font-size: 16px;
    cursor: pointer;
    & h1 {
        font-size: 20px;
        font-weight: normal;
        line-height: 1.5;
        margin-bottom: 16px;
        color: #000;
    }
    & ul li {
        display: inline-block;
        margin-right: 20px;
        padding-right:20px;
        box-sizing: border-box;
        border-right: 1px solid #ccc;
        border-radius: 5px;
        & a {
            color: #000;
            & p.linkTitle {
                color: #3F4C58;
                font-size: 16px;
                line-height: 30px;
            }
        }
    }
    & ul li:last-child {
        border-right: none;
    }
}