.indexPage {
    /*position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #D4A3A3;
    overflow-y: scroll;*/
    min-height: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px 0;
    box-sizing: border-box;
    & .navList {
        position: fixed;
        top: 300px;
        left: 0;
        z-index: 333;
    }
    & .openResume {
        position: fixed;
        top: 40px;
        right: 60px;
        width: 38px;
        height: 38px;
        cursor: pointer;
        & .resumeIcon {
            width: 100%;
            height: 100%;
            margin-top: 50%;
            transform: translate(0,-50%);
            & svg {
                fill: #000;
            }
        }
    }
    & .adminButton {
        position: fixed;
        bottom: 40px;
        right: 40px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        background-color: #3593dc;
        box-shadow: 0 0 20px rgba(0,0,0,.3);
        transition: all ease-in-out 0.2s;
        &:hover {
            background-color: #3DAAFF;
        }
        & .featherIcon {
            width: 70%;
            height: 70%;
            margin-top: 50%;
            transform: translate(0,-50%);
            & svg {
                fill: #fff;
            }
        }
    }
}
@media screen and (max-width: 740px) {
    .indexPage {
        & .navList {
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            & .navWrap {
                display: flex;
                & .navItem {
                    flex: 1;
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    border-radius: 0;
                    transform: translate(0,0);
                    text-align: center;
                    height: 64px;
                    line-height: 64px;
                }
            }

        }
    }
}