.commentItem {
    padding: 15px 0;
    font-size: 16px;
    border-bottom: 1px dashed #ccc;
    line-height: 30px;
    & .commentatorInfo {
        font-size: 18px;
        & .commentTime {
            font-size: 16px;
        }
    }

    & .avator {
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 20px;
    }

    & .commentContent {
        margin: 20px 0 0;
    }

    & .commentAction {
        margin-top: 15px;
        text-align: right;
        color: #ccc;
        &:hover {
            color: #000;
        }
        &:hover .icon svg {
            fill: #000;
        }
        & .agree,
        & .disagree,
        & .reply,
        & .delete {
            display: inline-block;
            padding: 0 10px;
            text-align: center;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            transition: all ease-in-out .3s;
            & .icon {
                margin-right: 6px;
                & svg {
                    fill: #ccc;
                    transition: all ease-in-out .3s;
                }
            }
            & i {
                font-style: normal;
                vertical-align: middle;
            }
        }
    }
    & .commentAction:hover .icon svg {
        fill: #000;
    }
}
.commentItem.childComment {
    border-left: 3px solid rgba(0, 0, 0, 0.2);
    padding-left: 20px;
}